In [474]:
import pandas as pd

# Read Excel

In [475]:
excel_file = 'companies_pricing_data.csv'

In [476]:
companies = pd.read_csv(excel_file)

In [477]:
companies.head()

,DATE,TICKER,SECTOR,PRICEOPEN,PRICEHIGH,PRICELOW,PRICECLOSE,VOLUME
0,4/1/21,AAPL,Information Technology,133.52,133.6116,126.760,129.41,143301900
1,5/1/21,AAPL,Information Technology,128.89,131.7400,128.430,131.01,97664900
2,6/1/21,AAPL,Information Technology,127.72,131.0499,126.382,126.60,155088000
3,7/1/21,AAPL,Information Technology,128.36,131.6300,127.860,130.92,109578200
4,8/1/21,AAPL,Information Technology,132.43,132.6300,130.230,132.05,105158200

# Task 1

In [478]:
companies['PRICEMID'] = (companies['PRICEHIGH'] + companies['PRICELOW']) / 2

In [479]:
companies

,DATE,TICKER,SECTOR,PRICEOPEN,PRICEHIGH,PRICELOW,PRICECLOSE,VOLUME,PRICEMID
0,4/1/21,AAPL,Information Technology,133.52,133.6116,126.760,129.41,143301900,130.18580
1,5/1/21,AAPL,Information Technology,128.89,131.7400,128.430,131.01,97664900,130.08500
2,6/1/21,AAPL,Information Technology,127.72,131.0499,126.382,126.60,155088000,128.71595
3,7/1/21,AAPL,Information Technology,128.36,131.6300,127.860,130.92,109578200,129.74500
4,8/1/21,AAPL,Information Technology,132.43,132.6300,130.230,132.05,105158200,131.43000
...,...,...,...,...,...,...,...,...,...
13659,27/12/21,ZG,Real Estate,62.03,62.4199,60.750,60.99,796153,61.58495
13660,28/12/21,ZG,Real Estate,60.73,61.7500,59.300,60.00,772907,60.52500
13661,29/12/21,ZG,Real Estate,59.85,60.2000,58.560,59.21,352335,59.38000
13662,30/12/21,ZG,Real Estate,59.33,61.8700,58.800,61.27,752142,60.33500
13663,31/12/21,ZG,Real Estate,60.54,62.6100,60.450,62.22,744465,61.53000

# Task 2

In [480]:
companies['SMA_5'] = companies.groupby('TICKER')['PRICECLOSE'].rolling(window=5, min_periods=5).mean().reset_index(0, drop=True)

In [481]:
companies

,DATE,TICKER,SECTOR,PRICEOPEN,PRICEHIGH,PRICELOW,PRICECLOSE,VOLUME,PRICEMID,SMA_5
0,4/1/21,AAPL,Information Technology,133.52,133.6116,126.760,129.41,143301900,130.18580,NaN
1,5/1/21,AAPL,Information Technology,128.89,131.7400,128.430,131.01,97664900,130.08500,NaN
2,6/1/21,AAPL,Information Technology,127.72,131.0499,126.382,126.60,155088000,128.71595,NaN
3,7/1/21,AAPL,Information Technology,128.36,131.6300,127.860,130.92,109578200,129.74500,NaN
4,8/1/21,AAPL,Information Technology,132.43,132.6300,130.230,132.05,105158200,131.43000,129.998
...,...,...,...,...,...,...,...,...,...,...
13659,27/12/21,ZG,Real Estate,62.03,62.4199,60.750,60.99,796153,61.58495,60.650
13660,28/12/21,ZG,Real Estate,60.73,61.7500,59.300,60.00,772907,60.52500,60.982
13661,29/12/21,ZG,Real Estate,59.85,60.2000,58.560,59.21,352335,59.38000,60.668
13662,30/12/21,ZG,Real Estate,59.33,61.8700,58.800,61.27,752142,60.33500,60.762
13663,31/12/21,ZG,Real Estate,60.54,62.6100,60.450,62.22,744465,61.53000,60.738

# Task 3

In [482]:
companies['DAILY_RETURN'] = companies.groupby('TICKER')['PRICECLOSE'].pct_change() * 100

In [483]:
companies.head(10)

,DATE,TICKER,SECTOR,PRICEOPEN,PRICEHIGH,PRICELOW,PRICECLOSE,VOLUME,PRICEMID,SMA_5,DAILY_RETURN
0,4/1/21,AAPL,Information Technology,133.52,133.6116,126.760,129.41,143301900,130.18580,NaN,NaN
1,5/1/21,AAPL,Information Technology,128.89,131.7400,128.430,131.01,97664900,130.08500,NaN,1.236380
2,6/1/21,AAPL,Information Technology,127.72,131.0499,126.382,126.60,155088000,128.71595,NaN,-3.366155
3,7/1/21,AAPL,Information Technology,128.36,131.6300,127.860,130.92,109578200,129.74500,NaN,3.412322
4,8/1/21,AAPL,Information Technology,132.43,132.6300,130.230,132.05,105158200,131.43000,129.998,0.863123
5,11/1/21,AAPL,Information Technology,129.19,130.1700,128.500,128.98,100620900,129.33500,129.912,-2.324877
6,12/1/21,AAPL,Information Technology,128.50,129.6900,126.860,128.80,91951150,128.27500,129.470,-0.139557
7,13/1/21,AAPL,Information Technology,128.76,131.4500,128.490,130.89,88636830,129.97000,130.328,1.622671
8,14/1/21,AAPL,Information Technology,130.80,131.0000,128.760,128.91,90221760,129.88000,129.926,-1.512721
9,15/1/21,AAPL,Information Technology,128.78,130.2242,127.000,127.14,111598500,128.61210,128.944,-1.373051

# Task 4

In [484]:
from datetime import timedelta
print(companies.columns)

def get_prev_date(row):
    curr = row['DATE']
    ticker = row['TICKER']
    prev = curr - timedelta(days = 30)
    # Iterate back until a trading day is found
    ticker_rows = companies[companies['TICKER'] == ticker]
    while not ticker_rows.empty and prev not in ticker_rows['DATE'].values:
        prev = prev + timedelta(days = 1)
    return prev if not ticker_rows.empty else curr

companies['DATE'] = pd.to_datetime(companies['DATE'], dayfirst = True) # Ensure 'DATE' column is in datetime format
companies['new_date'] = companies.apply(get_prev_date, axis = 1)


# Create a lookup dictionary for the close price for each ticker on each date
price_lookup = companies.set_index(['TICKER', 'DATE'])['PRICECLOSE'].to_dict()

def get_price_close(row, date_col):
    return price_lookup.get((row['TICKER'], row[date_col]), None)

companies['price_close_new_date'] = companies.apply(lambda row: get_price_close(row, 'new_date'), axis=1)
companies['MONTHLY_RETURN'] = (companies['PRICECLOSE'] - companies['price_close_new_date']) / companies['price_close_new_date'] * 100

companies.head(32)

Index(['DATE', 'TICKER', 'SECTOR', 'PRICEOPEN', 'PRICEHIGH', 'PRICELOW',
       'PRICECLOSE', 'VOLUME', 'PRICEMID', 'SMA_5', 'DAILY_RETURN'],
      dtype='object')

,DATE,TICKER,SECTOR,PRICEOPEN,PRICEHIGH,PRICELOW,PRICECLOSE,VOLUME,PRICEMID,SMA_5,DAILY_RETURN,new_date,price_close_new_date,MONTHLY_RETURN
0,2021-01-04,AAPL,Information Technology,133.52,133.6116,126.7600,129.41,143301900,130.18580,NaN,NaN,2021-01-04,129.41,0.000000
1,2021-01-05,AAPL,Information Technology,128.89,131.7400,128.4300,131.01,97664900,130.08500,NaN,1.236380,2021-01-04,129.41,1.236380
2,2021-01-06,AAPL,Information Technology,127.72,131.0499,126.3820,126.60,155088000,128.71595,NaN,-3.366155,2021-01-04,129.41,-2.171393
3,2021-01-07,AAPL,Information Technology,128.36,131.6300,127.8600,130.92,109578200,129.74500,NaN,3.412322,2021-01-04,129.41,1.166834
4,2021-01-08,AAPL,Information Technology,132.43,132.6300,130.2300,132.05,105158200,131.43000,129.998,0.863123,2021-01-04,129.41,2.040028
5,2021-01-11,AAPL,Information Technology,129.19,130.1700,128.5000,128.98,100620900,129.33500,129.912,-2.324877,2021-01-04,129.41,-0.332277
6,2021-01-12,AAPL,Information Technology,128.50,129.6900,126.8600,128.80,91951150,128.27500,129.470,-0.139557,2021-01-04,129.41,-0.471370
7,2021-01-13,AAPL,Information Technology,128.76,131.4500,128.4900,130.89,88636830,129.97000,130.328,1.622671,2021-01-04,129.41,1.143652
8,2021-01-14,AAPL,Information Technology,130.80,131.0000,128.7600,128.91,90221760,129.88000,129.926,-1.512721,2021-01-04,129.41,-0.386369
9,2021-01-15,AAPL,Information Technology,128.78,130.2242,127.0000,127.14,111598500,128.61210,128.944,-1.373051,2021-01-04,129.41,-1.754115
10,2021-01-19,AAPL,Information Technology,127.78,128.7100,126.9380,127.83,90757330,127.82400,128.714,0.542709,2021-01-04,129.41,-1.220926
11,2021-01-20,AAPL,Information Technology,128.66,132.4900,128.5500,132.03,104319500,130.52000,129.360,3.285614,2021-01-04,129.41,2.024573
12,2021-01-21,AAPL,Information Technology,133.80,139.6700,133.5900,136.87,120529500,136.63000,130.556,3.665834,2021-01-04,129.41,5.764624
13,2021-01-22,AAPL,Information Technology,136.28,139.8500,135.0200,139.07,114459400,137.43500,132.588,1.607365,2021-01-04,129.41,7.464647
14,2021-01-25,AAPL,Information Technology,143.07,145.0900,136.5400,142.92,157611700,140.81500,135.744,2.768390,2021-01-04,129.41,10.439688
15,2021-01-26,AAPL,Information Technology,143.60,144.3000,141.3700,143.16,98390560,142.83500,138.810,0.167926,2021-01-04,129.41,10.625145
16,2021-01-27,AAPL,Information Technology,143.43,144.3000,140.4100,142.06,140843800,142.35500,140.816,-0.768371,2021-01-04,129.41,9.775133
17,2021-01-28,AAPL,Information Technology,139.52,141.9900,136.7000,137.09,142621100,139.34500,140.860,-3.498522,2021-01-04,129.41,5.934626
18,2021-01-29,AAPL,Information Technology,135.83,136.7400,130.2100,131.96,177523800,133.47500,139.438,-3.742067,2021-01-04,129.41,1.970481
19,2021-02-01,AAPL,Information Technology,133.75,135.3800,130.9300,134.14,106239800,133.15500,137.682,1.652016,2021-01-04,129.41,3.655050
20,2021-02-02,AAPL,Information Technology,135.73,136.3100,134.6100,134.99,83305370,135.46000,136.048,0.633666,2021-01-04,129.41,4.311877
21,2021-02-03,AAPL,Information Technology,135.76,135.7700,133.6100,133.94,89880940,134.69000,134.424,-0.777835,2021-01-04,129.41,3.500502
22,2021-02-04,AAPL,Information Technology,136.30,137.4000,134.5900,137.39,84183060,135.99500,134.484,2.575780,2021-01-05,131.01,4.869857
23,2021-02-05,AAPL,Information Technology,137.35,137.4200,135.8600,136.76,75693830,136.64000,135.444,-0.458549,2021-01-06,126.60,8.025276
24,2021-02-08,AAPL,Information Technology,136.03,136.9600,134.9200,136.91,71297210,135.94000,135.998,0.109681,2021-01-11,128.98,6.148240
25,2021-02-09,AAPL,Information Technology,136.62,137.8770,135.8500,136.01,76774210,136.86350,136.202,-0.657366,2021-01-11,128.98,5.450457
26,2021-02-10,AAPL,Information Technology,136.48,136.9900,134.4000,135.39,73046560,135.69500,136.492,-0.455849,2021-01-11,128.98,4.969763
27,2021-02-11,AAPL,Information Technology,135.90,136.3900,133.7700,135.13,64280030,135.08000,136.040,-0.192038,2021-01-12,128.80,4.914596
28,2021-02-12,AAPL,Information Technology,134.35,135.5300,133.6921,135.37,60145130,134.61105,135.762,0.177607,2021-01-13,130.89,3.422721
29,2021-02-16,AAPL,Information Technology,135.49,136.0100,132.7900,133.19,80576320,134.40000,135.018,-1.610401,2021-01-19,127.83,4.193069
30,2021-02-17,AAPL,Information Technology,131.25,132.2200,129.4700,130.84,98085250,130.84500,133.984,-1.764397,2021-01-19,127.83,2.354690
31,2021-02-18,AAPL,Information Technology,129.20,129.9950,127.4100,129.71,96856750,128.70250,132.848,-0.863650,2021-01-19,127.83,1.470703

In [485]:
# # Assume 'df' is your DataFrame and it has columns 'Date', 'Stock' and 'PRICECLOSE'.
# # Convert 'Date' to datetime type if it's not
# companies['DATE'] = pd.to_datetime(companies['DATE'])

# # Sort the DataFrame by 'Stock' and 'Date', for ffill() to be used accurately 
# companies = companies.sort_values(['TICKER', 'DATE'])

# # Create a new DataFrame with all dates for each stock
# all_dates = pd.date_range(start=companies['DATE'].min(), end=companies['DATE'].max())
# stocks = companies['TICKER'].unique()

# new_df = pd.DataFrame(index=pd.MultiIndex.from_product([stocks, all_dates], names=['TICKER', 'DATE']))
# companies.set_index(['TICKER', 'DATE'], inplace=True)

# # Merge the original DataFrame with the new one
# companies = new_df.merge(companies, how='left', left_index=True, right_index=True)

# # Forward fill the 'PRICECLOSE' column
# companies['PRICECLOSE'] = companies.groupby('TICKER')['PRICECLOSE'].ffill()

# # Now you can calculate the return
# companies['MONTHLY_RETURN'] = companies.groupby('TICKER')['PRICECLOSE'].pct_change(periods=30) * 100

# companies.head(31)

# Question 6

In [486]:
std_dev = companies['PRICECLOSE'].std()
rounded_std_dev = round(std_dev)
print(rounded_std_dev)

55380

# Question 7

In [487]:
min_value = companies['PRICELOW'].min()
rounded_min_value = round(min_value, 2)
print(rounded_min_value )

7.2

# Question 8

In [489]:
# Ensure 'DATE' is in datetime format
companies['DATE'] = pd.to_datetime(companies['DATE'], dayfirst = True) 

# Filter DataFrame for 'Financials' sector and specified date range
filtered = companies[
    (companies['SECTOR'] == 'Financials') &
    (companies['DATE'] >= '2021-01-01') &
    (companies['DATE'] <= '2021-06-30')
]

# Find the ticker of the stock with the lowest 'DAILY_RETURN', return the index of min
ticker_with_lowest_return = filtered.loc[filtered['DAILY_RETURN'].idxmin()]['TICKER']

print(ticker_with_lowest_return)

WFC

# Question 9

In [491]:
# Filter DataFrame for "Information Technology" sector
it_sector = companies[companies['SECTOR'] == 'Information Technology']

# Find the index of the row with the highest MONTHLY_RETURN
highest_return_index = it_sector['MONTHLY_RETURN'].idxmax()

# Get the TICKER of the stock with the highest MONTHLY_RETURN
ticker = it_sector.loc[highest_return_index, 'TICKER']
print(ticker)

NVDA

# Question 10

In [492]:
companies['DATE'] = pd.to_datetime(companies['DATE'], dayfirst = True) 

# Filter DataFrame for the date range 1 Jan 2021 - 31 December 2021 inclusive
#returns a series of boolean values (same length as the number of rows in the df)
mask = (companies['DATE'] >= '2021-01-01') & (companies['DATE'] <= '2021-12-31')
#loc is used for indexing by label but it can also accept a boolean mask as input, selecting true
filtered_companies = companies.loc[mask]

# Group by 'SECTOR' and calculate average 'MONTHLY_RETURN'
sector_performance = filtered_companies.groupby('SECTOR')['MONTHLY_RETURN'].mean()

# Find the sector with the highest average 'MONTHLY_RETURN'
best_sector = sector_performance.idxmax()

print(best_sector)

Energy

# Submission

In [493]:
companies.to_csv('e0958165.csv', index=False)